<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>欢迎注册</title>
        <style>
            #reg_form {
                margin: 160px 500px;
            }
            #reg_buttun {
                height: 30px;
                padding: 0 5px;
                margin: 10px 50px;
            }
            input {
                height: 25px;
                /* padding: 0 5px; */
                margin-top: 5px;
            }
            #send_sms_code {
                margin-left: 5px;
                height: 30px;
                padding: 0 5px;
            }
        </style>
        <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    </head>
    <body>
        <div id="reg_form">
            <form accept="/reg" method="POST">
                <table>
                    <tr><td>用户名: </td><td><input type="text" id="uname" name="uname" placeholder="用户名" autofocus></td></tr>
                    <tr><td>密码: </td><td><input type="password" id="upass" name="upass" placeholder="密码"></td></tr>
                    <tr><td>确认密码: </td><td><input type="password" id="upass2" name="upass2" placeholder="确认密码"></td></tr>
                    <tr><td>手机号: </td><td><input type="text" id="phone" name="phone" placeholder="手机号"><button type="button" id="send_sms_code">发送验证码</button></td></tr>
                    <tr><td>验证码: </td><td><input type="text" id="verify_code" name="verify_code" placeholder="短信验证码"></td></tr>
                    <tr><td>邮箱: </td><td><input type="email" id="email" name="email" placeholder="电子邮箱"></td></tr>
                    <tr><td></td><td><button type="submit" id="reg_buttun">注册</button></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>